@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --text-title: #000;
    --text-subtitle: #fff;
    --c1: #eee;
    --c2: #d9d9d9;
    --c3: #9e9e9e;
    --c4: #363636;
    --c5: #1f1f1f;
    --c6: #151515;
    --p1: #E8FFE4;
    --p2: #00E600;
    --p3: #003300;
    --border: #d9d9d9;
    --primary: #00E600;
    --primary-foreground: #003300;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --sidebar-background: #fff;
    --sidebar-foreground: #9e9e9e;
    --sidebar-primary: #003300;
    --sidebar-primary-foreground: #fff;
    --sidebar-accent: #eee;
    --sidebar-accent-foreground: #9e9e9e;
    --sidebar-border: #d9d9d9;
  }

  .dark {
    --background: #111;
    --text-title: #fff;
    --text-subtitle: #fff;
    --c1: #eee;
    --c2: #d9d9d9;
    --c3: #9e9e9e;
    --c4: #363636;
    --c5: #1f1f1f;
    --c6: #151515;
    --p1: #E8FFE4;
    --p2: #00E600;
    --p3: #003300;
    --border: #1f1f1f;
    --primary: #00E600;
    --primary-foreground: #003300;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --sidebar-background: #111;
    --sidebar-foreground: #9e9e9e;
    --sidebar-primary: #003300;
    --sidebar-primary-foreground: #fff;
    --sidebar-accent: #1f1f1f;
    --sidebar-accent-foreground: #9e9e9e;
    --sidebar-border: #1f1f1f;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
